* {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 3px 2px #cfcfcf;
}

body {
    background-color: #f4f4f4;
}

h3 {
    text-align: center;
}

input {
    margin: 10px 0px;
    padding: 8px;
    width: 95%;

}

label {
    font-size: 14px;
}

button {
    margin-top: 9px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}