* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.containerAdd {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 5px;
    width: 150px;
}

button {
    padding: 7px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Thiết lập bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}